.side_bar {
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
    transition: all 0.3s ease-in-out;

    & .nav_header {
        & .logo {
            display: none;
        }
        & .menu_bar {
            width: 30px;
            height: 30px;
            padding: 0 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 4px;
            margin-top: 40px;
            cursor: pointer;
            & span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: #000;
                transition: all 0.3s ease-in-out;
            }
        }
        & .menu_bar-open{
            & span:first-child {
                width: 90%;
            }
            & span:last-child {
                width: 85%;
            }
        }
    }
    & .side_bar_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;
        & li {
            cursor: pointer;
            & a {
                position: relative;
                display: flex;
                width: 50px;
                height: auto;
                border-radius: 4px;
                padding: 5px;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                color: #000;
                &:hover {
                    background-color: #B1D7B4;
                }
                & i {
                    line-height: 40px;
                    text-align: center;
                }
                & span {
                    position: absolute;
                    display: none;
                }
                
            }
            & .side_bar_cont-on{
                width: 100px;
                justify-content: space-between;
                gap: 20px;
                transition: all 0.3s ease-in-out;
                padding-left: 10px;
                & span {
                    display: inline-block;
                    right:  10px;
                }
            }
        }
    }
    & .theme-wrapper {

        & .theme-btn {
            margin-bottom: 40px;
        }
        & .theme-ball {
            display: none;
        }
    }
}

.open {
    width: 200px;
}

.home {
    position: relative;
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    height: 100vh;
    background-color: #B1D7B4;
    z-index: 6;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}